{% extends "../base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-[60vh] p-6">
    <div class="card border-slate-200 w-full md:max-w-[30vw]">
        <header>
            <h2>Login to your account</h2>
            <p>Enter your details below to login to your account</p>
        </header>
        <section>
            <form class="form grid gap-6" method="POST">
            {% csrf_token %}
            <div class="grid gap-2">
                <label for="label-username">Username</label>
                <input type="text" name="username" id="username" value="{{ form.username.value|default:'' }}">
            </div>
            <div class="grid gap-2">
                <div class="flex items-center gap-2">
                <label for="label-password">Password</label>
                <a href="#" class="ml-auto inline-block text-sm underline-offset-4 hover:underline">Forgot your password?</a>
                </div>
                <input type="password" name="password" id="password" value="{{ form.password.value|default:'' }}">
            </div>
            <input type="submit" class="btn w-full bg-blue-500" value="Submit" />
            </form>
        </section>
    </div>
</div>
{% endblock %}