{% extends "base.html" %}

{% block content %}
    <div class="max-w-6xl mx-auto mt-10">
        <h1 class="text-3xl font-bold mb-6">Inventory</h1>
        <div class="bg-white border-slate-200 rounded-lg overflow-hidden border">
            <table class="w-full text-left border-collapse table">
                <thead>
                    <tr>
                        <th class="p-3 font-semibold text-slate-700 border-b border-slate-200">Asset Tag</th>
                        <th class="p-3 font-semibold text-slate-700 border-b border-slate-200">Type</th>
                        <th class="p-3 font-semibold text-slate-700 border-b border-slate-200">Owner</th>
                    </tr>
                </thead>
                <tbody>
                    {%for equipment in equipments%}
                    <tr class="border-b border-slate-100 hover:bg-slate-50 transition-colors">
                        <td class="p-3 font-medium">{{equipment.asset_tag}}</td>
                        <td class="p-3 text-slate-600">{{equipment.equipment_type}}</td>
                        {% if equipment.owner != null %}
                        <td class="p-3 text-slate-600">
                            <a href="{% url 'employee_details' equipment.owner.id %}" class="underline text-blue-500">
                                {{equipment.owner.first_name}} {{equipment.owner.last_name}}
                            </a>
                        </td>
                        {% else %}
                        <td class="p-3 text-slate-600">N/A</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}