{% extends "../base.html" %}
{% load widget_tweaks %}

{% block title %} - New employee {% endblock %}

{% block content %}
<div id="create-employee" class="flex flex-col items-center justify-center p-6 gap-6">
    <h1 class="text-2xl font-bold">Create a new employee</h1>
    
    <form method="POST" action="#" class="grid grid-cols-2 gap-2 w-full max-w-md">
        {% csrf_token %}
        
        <div class="flex flex-col col-span-2 gap-2">
            <label for="{{ user_form.username.id_for_label }}" class="label">Username</label>
            <input class="input bg-white" id="username" type="text" placeholder="mark.pakingan" name="username" id="username" value="{{ employee_form.username.value|default:'' }}">
        </div>

        <div class="flex flex-col col-span-1 gap-2">
            <label for="{{ user_form.password1.id_for_label }}" class="label">Password</label>
            <input class="input bg-white" id="password1" type="text" name="password1" id="password1" value="{{ employee_form.password1.value|default:'' }}">
        </div>

        <div class="flex flex-col col-span-1 gap-2">
            <label for="{{ user_form.password2.id_for_label }}" class="label">Confirm Password</label>
            <input class="input bg-white" id="password2" type="text" name="password2" id="password2" value="{{ employee_form.password2.value|default:'' }}">
        </div>

        <hr class="col-span-2 my-2 border-slate-300">

        <div class="flex flex-col col-span-1 gap-2">
            <label for="{{ employee_form.first_name.id_for_label }}" class="label">First Name</label>
            <input class="input bg-white" id="first_name" type="text" name="first_name" id="first_name" placeholder="Mark" value="{{ employee_form.first_name.value|default:'' }}">
        </div>
        
        <div class="flex flex-col col-span-1 gap-2">
            <label for="{{ employee_form.last_name.id_for_label }}" class="label">Last Name</label>
            <input class="input bg-white" id="last_name" type="text" name="last_name" id="last_name" placeholder="Pakingan" value="{{ employee_form.last_name.value|default:'' }}">
        </div>
        <div class="flex flex-col col-span-2 gap-2">
            <label for="{{ employee_form.email.id_for_label }}" class="label">Email</label>
            <input class="input bg-white" id="email" type="text" name="email" id="email" placeholder="contact@markpakingan.com" value="{{ employee_form.email.value|default:'' }}">
        </div>
        
        <div class="flex flex-col col-span-2 gap-2">
        <label for="{{ employee_form.department.id_for_label }}" class="label">Department</label>
            <div id="select-category" class="select">
                <button type="button" class="btn-outline border-slate-200 w-full justify-between" id="category-trigger" aria-haspopup="listbox" aria-expanded="false" aria-controls="category-listbox">
                    <span class="truncate">Please select department.</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-up-down text-muted-foreground opacity-50 shrink-0">
                        <path d="m7 15 5 5 5-5" />
                        <path d="m7 9 5-5 5 5" />
                    </svg>
                </button>

                <div id="category-popover" data-popover aria-hidden="true">
                    <header>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search">
                            <circle cx="11" cy="11" r="8" />
                            <path d="m21 21-4.3-4.3" />
                        </svg>
                        <input type="text" placeholder="Search department" autocomplete="off" role="combobox" aria-expanded="false" aria-controls="category-listbox" />
                    </header>

                    <div role="listbox" id="category-listbox" aria-orientation="vertical" data-empty="No equipment found.">
                        {% for value, label in employee_form.department.field.choices %}
                            {% if value %}
                                <div role="option" data-value="{{ value }}">{{ label }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <input type="hidden" name="{{ employee_form.department.html_name }}" id="{{ employee_form.department.id_for_label }}" value="{{ employee_form.department.value|default:'' }}" />
            </div>
        </div>
        
        <div class="flex flex-col items-center justify-center col-span-2 mt-4">
            <input type="submit" value="Submit" class="btn w-full bg-blue-500"/>
        </div>
    </form>
</div>
{% endblock %}