{% extends "../base.html" %}
{% load widget_tweaks %}

{% block title %} - New employee {% endblock %}

{% block content %}
<div id="create-employee" class="flex flex-col items-center justify-center p-6 gap-6">
    <h1 class="text-2xl font-bold">Create a new employee</h1>
    
    <form method="POST" action="#" class="grid grid-cols-2 gap-2">
        {% csrf_token %}
        
        <div class="flex flex-col col-span-2">
            <label for="{{ user_form.username.id_for_label }}" class="text-center font-medium">Username</label>
            {% render_field employee_form.username class="flex w-full border-2 border-slate-300 rounded-sm p-2" %}
        </div>

        <div class="flex flex-col col-span-1">
            <label for="{{ user_form.password1.id_for_label }}" class="text-center font-medium">Password</label>
            {% render_field employee_form.password1 class="flex w-full border-2 border-slate-300 rounded-sm p-2" %}
        </div>

        <div class="flex flex-col col-span-1">
            <label for="{{ user_form.password2.id_for_label }}" class="text-center font-medium">Confirm Password</label>
            {% render_field employee_form.password2 class="flex w-full border-2 border-slate-300 rounded-sm p-2" %}
        </div>

        <hr class="col-span-2 my-2 border-slate-300">

        <div class="flex flex-col col-span-1">
            <label for="{{ employee_form.first_name.id_for_label }}" class="text-center font-medium">First Name</label>
            {% render_field employee_form.first_name class="flex w-full border-2 border-slate-300 rounded-sm p-2" %}
        </div>
        
        <div class="flex flex-col col-span-1">
            <label for="{{ employee_form.last_name.id_for_label }}" class="text-center font-medium">Last Name</label>
            {% render_field employee_form.last_name class="flex w-full border-2 border-slate-300 rounded-sm p-2" %}
        </div>
        
        <div class="flex flex-col col-span-2">
            <label for="{{ employee_form.email.id_for_label }}" class="text-center font-medium">Email</label>
            {% render_field employee_form.email class="flex w-full border-2 border-slate-300 rounded-sm p-2" %}
        </div>
        
        <div class="flex flex-col col-span-2">
            <label for="{{ employee_form.department.id_for_label }}" class="text-center font-medium">Department</label>
            {% render_field employee_form.department class="flex w-full border-2 border-slate-300 rounded-sm p-2" %}
        </div>
        
        <div class="flex flex-col items-center justify-center col-span-2 mt-4">
            <input type="submit" value="Submit" class="bg-blue-500 w-full py-2 rounded-md text-white font-bold hover:bg-blue-600 cursor-pointer transition-colors"/>
        </div>
    </form>
</div>
{% endblock %}